#contact-info {
	width: 6rem;
	font-family: monserrat, sans-serif;
	/*Posicionamos el div contenedor*/
	position: fixed;
	top: 60%;
	z-index: 99999;
	left: 0;
}

.opcion {
	/*Para que el cursor cambie de aspecto al pasar por este elemento*/
	cursor: pointer;
	/*Posición relativa al contenedor*/
	position: relative;
}

.opcion i {
	/*Damos estilo a los iconos*/
	display: block;
	width: 6rem;
	text-align: center;
	height: 6rem;
	line-height: 6rem;
	background-color: rgba(68, 119, 153, .5);
	color: white;
	font-size: 2rem;
	transition: 600ms;
}

/*Estilo que se crea al pasar el cursor*/
.opcion:hover i {
	background-color: rgba(68, 119, 153, 1);
}

.text {
	/*Damos estilo a la información*/
	position: absolute;
	height: 6rem;
	width: 20rem;
	background-color: rgba(87, 154, 199, 1);
	color: #fff;
	top: 0;
	/*Los ponemos detras de los iconos*/
	z-index: -1;
	/*Los ubicamos a la izquierda negativa para ocultarlos*/
	left: -20rem;
	line-height: 6rem;
	text-align: center;
	transition: 600ms;
}

/*Para que sobresalga el texto al pasar el cursor*/
.opcion:hover .text {
	left: 6rem;
}

/*Fuente: https://youtu.be/RQ3a10EOnXU*/