/*==============================
=            Global            =
==============================*/

.menuFooter {
	background-color: rgba(68, 119, 153, 1);
	width: 100%;
	/*Para darle sombra a la sección*/
	box-shadow: 0.1rem 0.1rem 0.5rem #000;
}

.seccion, #contenido {
	background-color: rgba(68, 119, 153, 1);
	padding: 1rem;
	box-shadow: 0.1rem 0.1rem 0.5rem #000;
}

.seccion>div {
	background-color: #d3e2ed;
	box-shadow: 0.1rem 0.1rem 0.5rem #000;
}

/*=====  End of Global  ======*/

/*================================
=            CABECERA            =
================================*/

#cabecera {
	/*Para que el div cabecera tenga el mismo tamaño que los div que contiene al usar el float*/
	overflow: hidden;
	text-align: center;
}

.logo {
	float: left;
	width: 20%;
}

.logo img {
	display: block;
	height: 10rem;
	margin: auto;
}

.titulo {
	box-shadow: 0.1rem 0.1rem 0.5rem #000;
	float: left;
	width: 60%;
	text-align: center;
	font-size: 4rem;
	padding: 2.5rem 0;
	background-color: rgba(87, 154, 199, 1);
	color: white;
}

.redes {
	float: right;
	width: 20%;
	height: 10rem;
}

/*Fuente del estilo del apartado redes sociales: https://youtu.be/fDm0WJ_66d0*/

/*Posicionamos cada botón y le damos estilo*/
.btn {
	display: inline-block;
	width: 7rem;
	height: 7rem;
	margin: 1.5rem auto;
	background-color: rgba(87, 154, 199, 1);
	border-radius: 30%;
	box-shadow: 0 0.5rem 1.5rem -0.5rem #00000070;
	color: white;
	overflow: hidden;
	position: relative;
}

/*Posicionamos los iconos*/
.btn i {
	line-height: 7rem;
	font-size: 2.6rem;
	transition: 200ms linear;
}

/*El icono aumenta de tamaño y cambia de color al pasar el cursor*/
.btn:hover i {
	transform: scale(1.3);
	color: #f1f1f1;
}

/*contenedor que está oculto, creado para hacer el efecto*/
.btn::before {
	content: "";
	position: absolute;
	width: 120%;
	height: 120%;
	background-color: rgb(25, 63, 89);
	transform: rotate(45deg);
	left: -110%;
	top: 90%;
}

/*El contenedor aparece al pasar el cursor*/
.btn:hover::before {
	animation: aaa 0.7s 1;
	top: -10%;
	left: -10%;
}

@keyframes aaa {
	0% {
		top: 90%;
		left: -110%;
	}50%{
		top: -30%;
		left: 10%;
	}100%{
		top: -10%;
		left: -10%;
	}
}

/*=====  End of CABECERA  ======*/

/*============================
=            MENU            =
============================*/

#menu ul {
	/*Para eliminar el espacio entre li, escribimos que el tamaño fuente es 0 y, posteriormente, lo modificamos en li*/
	font-size: 0;
	width: 80%;
	margin: auto;
	font-family: monserrat, sans-serif;
}

#menu ul li {
	/*Modificación del tamaño fuente*/
	font-size: 2rem;
	display: inline-block;
	width: 25%;
	text-align: center;
	position: relative;
	overflow: hidden;
	z-index: 1;
}

.boton {
	/*Para eliminar el subrayado del enlace*/
	text-decoration: none;
	/*Para que a ocupe el espacio de li como un bloque*/
	display: block;
	background: none;
	color: white;
	line-height: 5rem;
	transition: 500ms;
}

/*Elemento que está oculto para hacer el efecto*/
.boton::before {
	content: "";
	position: absolute;
	left: 0;
	width: 100%;
	height: 0%;
	background-color: rgb(25, 63, 89);
	z-index: -1;
	transition: 500ms;
	top: 0;
	border-radius: 0 0 50% 50%;
}

/*El elemento aparece al pasar el cursor*/
.boton:hover::before {
	height: 180%
}

/*=====  End of MENU  ======*/

/*=================================
=            CONTENIDO            =
=================================*/

.posts, .columna {
	display: inline-block;
}

.posts {
	width: 80%;
}

.posts>div {
	height: 500px;
	margin: 0 1rem 1rem 0;
}

.posts div img {
	width: 50rem;
	height: 33.4rem;
	box-shadow: 0.1rem 0.1rem 0.5rem #000;
}

.impar {
	float: left;
	margin: 0 2rem 2rem 0;
}

.par {
	float: right;
	margin: 0 0 2rem 2rem;
}

.posts>div, .columna>div, .login {
	padding: 1rem;
	background-color: #d3e2ed;
	box-shadow: 0.1rem 0.1rem 0.5rem #000;
}

.columna {
	width: 20%;
	float: right;
}

.columna>div, .login {
	margin-bottom: 1rem;
}

.recientes ul {
	/*Elimina los puntos de una lista desordenada*/
	list-style: none;
}

.recientes li {
	/*PARA BORRAR*/
	height: 5.6rem;	
}

/*=====  End of CONTENIDO  ======*/

/*================================
=            NOSOTROS            =
================================*/

#nosotros>div {
	/*PARA BORRAR*/
	height: 200px;
}

/*=====  End of NOSOTROS  ======*/

/*================================
=            GALERÍA            =
================================*/

#galeria>div {
	/*PARA BORRAR*/
	height: 500px;
}

/*=====  End of GALERÍA  ======*/

/*================================
=            CONTACTO            =
================================*/

#contacto>div {
	padding: 1rem;
	/*PARA BORRAR*/
	height: 200px;
}

/*=====  End of CONTACTO  ======*/

/*==============================
=            FOOTER            =
==============================*/

#footer {
	color: white;
	text-align: center;
	/*PARA BORRAR*/
	height: 50px;
}

/*=====  End of FOOTER  ======*/
