/*==============================
=            Global            =
==============================*/

.menuFooter {
	background-color: rgba(68, 119, 153, 1);
	width: 100%;
	/*Para darle sombra a la sección*/
	box-shadow: 0.1rem 0.1rem 0.5rem #000;
}

.seccion, #contenido {
	background-color: rgba(68, 119, 153, 1);
	padding: 1rem;
	box-shadow: 0.1rem 0.1rem 0.5rem #000;
}

.seccion>div {
	background-color: #d3e2ed;
	box-shadow: 0.1rem 0.1rem 0.5rem #000;
}

/*=====  End of Global  ======*/

/*================================
=            CABECERA            =
================================*/

#cabecera {
	/*Para que el div cabecera tenga el mismo tamaño que los div que contiene al usar el float*/
	overflow: hidden;
}

#logo {
	float: left;
	width: 20%;
}

#logo img {
	display: block;
	height: 10rem;
	margin: auto;
}

#titulo {
	box-shadow: 0.1rem 0.1rem 0.5rem #000;
	float: left;
	width: 60%;
	text-align: center;
	font-size: 4rem;
	padding: 2.5rem 0;
	background-color: rgba(87, 154, 199, 1);
	color: white;
}

#redes {
	float: right;
	width: 20%;
}

#redes span {
	float: left;
	width: 33.33%;
}

#redes span a {
	float: left;
	margin: 0 20%;
}

#redes img {
	margin-top: 2.5rem;
	width: 5rem;
}

/*=====  End of CABECERA  ======*/

/*============================
=            MENU            =
============================*/

#menu ul {
	/*Para eliminar el espacio entre li, escribimos que el tamaño fuente es 0 y, posteriormente, lo modificamos en li*/
	font-size: 0;
	width: 80%;
	margin: auto;
}

#menu ul li {
	/*Modificación del tamaño fuente*/
	font-size: 2rem;
	display: inline-block;
	width: 25%;
	text-align: center;
}

#menu ul li a {
	/*Para eliminar el subrayado del enlace*/
	text-decoration: none;
	/*Para que a ocupe el espacio de li como un bloque*/
	display: block;
	color: white;
	line-height: 5rem;
	/*Estas tres líneas hacen que las transiciones pasen según un tiempo determinado*/
	-webkit-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
/*Para que a cambie de color al pasar el ratón*/
#menu ul li a:hover{
	background-color: rgb(50, 89, 114);
	border-radius: 5rem;
}
/*Para que a cambie de color al clickear*/
#menu ul li a:active{
	background-color: rgb(25, 63, 89);
}

/*=====  End of MENU  ======*/

/*=================================
=            CONTENIDO            =
=================================*/

.posts, .columna {
	display: inline-block;
}

.posts {
	width: 80%;
}

.posts>div {
	height: 500px;
	margin: 0 1rem 1rem 0;
}

.posts div img {
	width: 50rem;
	height: 33.4rem;
	box-shadow: 0.1rem 0.1rem 0.5rem #000;
}

.impar {
	float: left;
	margin: 0 2rem 2rem 0;
}

.par {
	float: right;
	margin: 0 0 2rem 2rem;
}

.posts>div, .columna>div, .login {
	padding: 1rem;
	background-color: #d3e2ed;
	box-shadow: 0.1rem 0.1rem 0.5rem #000;
}

.columna {
	width: 20%;
	float: right;
}

.columna>div, .login {
	margin-bottom: 1rem;
}

.recientes ul {
	/*Elimina los puntos de una lista desordenada*/
	list-style: none;
}

.recientes li {
	/*PARA BORRAR*/
	height: 5.6rem;	
}

/*=====  End of CONTENIDO  ======*/

/*================================
=            NOSOTROS            =
================================*/

#nosotros>div {
	/*PARA BORRAR*/
	height: 200px;
}

/*=====  End of NOSOTROS  ======*/

/*================================
=            GALERÍA            =
================================*/

#galeria>div {
	/*PARA BORRAR*/
	height: 500px;
}

/*=====  End of GALERÍA  ======*/

/*================================
=            CONTACTO            =
================================*/

#contacto {
	overflow: hidden;
}

#contactanos {
	float: left;
}

#mensaje {
	float: right;
}

#contactanos, #mensaje {
	width: 49.5%;
	padding: 1rem;
	/*PARA BORRAR*/
	height: 200px;
}

/*=====  End of CONTACTO  ======*/

/*==============================
=            FOOTER            =
==============================*/

#footer {
	color: white;
	text-align: center;
	/*PARA BORRAR*/
	height: 50px;
}

/*=====  End of FOOTER  ======*/
