/*==============================
=            Global            =
==============================*/

* {
	margin: 0;
	padding: 0;
	/* Para que se incluya el borde y el padding en el tamaño total */
	box-sizing: border-box;
}

body {
	background: #d3e2ed;
}

body>div {
	width: 80%;
	margin: 10px auto;
}

.estiloSeccion {
	background: rgba(68, 119, 153, 1);
	width: 100%;
	/*Para darle sombra a la sección*/
	box-shadow: 1px 1px 5px #000;
}

/*=====  End of Global  ======*/

/*================================
=            CABECERA            =
================================*/

#cabecera {
	/*Para que el div cabecera tenga el mismo tamaño que los div que contiene al usar el float*/
	overflow: hidden;
}

#logo {
	float: left;
	width: 20%;
}

#logo img {
	display: block;
	height: 100px;
	margin: auto;
}

#titulo {
	box-shadow: 1px 1px 5px #000;
	float: left;
	width: 60%;
	text-align: center;
	background-color: rgb(87, 154, 199);
	color: white;
}

#titulo h1 {
	padding: 30px 0;
}

#redes {
	float: right;
	width: 20%;
}

#redes span {
	float: left;
	width: 33.33%;
}

#redes span a {
	float: left;
	height: 100px;
	margin: 0 20%;
}

#redes img {
	margin-top: 25px;
	width: 50px;
}
/*PARA BORRAR*/
#cabecera span {
	height: 100px;
}

/*=====  End of CABECERA  ======*/

/*============================
=            MENU            =
============================*/

#menu {
}

#menu ul {
	/*Para eliminar el espacio entre li, escribimos que el tamaño fuente es 0 y, posteriormente, lo modificamos en li*/
	font-size: 0;
	width: 80%;
	margin: auto;
}

#menu ul li {
	/*Modificación del tamaño fuente*/
	font-size: 20px;
	display: inline-block;
	width: 25%;
	text-align: center;
}

#menu ul li a {
	/*Para eliminar el subrayado del enlace*/
	text-decoration: none;
	/*Para que a ocupe el espacio de li como un bloque*/
	display: block;
	color: white;
	line-height: 50px;
	/*Estas tres líneas hacen que las transiciones pasen según un tiempo determinado*/
	-webkit-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
/*Para que a cambie de color al pasar el ratón*/
#menu ul li a:hover{
	background: rgb(50, 89, 114);
	border-radius: 50px;
}
/*Para que a cambie de color al clickear*/
#menu ul li a:active{
	background: rgb(25, 63, 89);
}

/*=====  End of MENU  ======*/

/*=================================
=            CONTENIDO            =
=================================*/

#contenido {
	font-size: 0;
	background: rgba(68, 119, 153, 1);
	padding: 10px;
	box-shadow: 1px 1px 5px #000;
}

#posts, #columna {
	font-size: 16px;
	display: inline-block;
}

#posts {
	width: 80%;
}

#posts div {
	overflow: hidden;
	
	height: 500px;
}

#posts div img {
	float: left;
	width: 500px;
	height: 334px;
	margin: 0 10px 10px 0;
	box-shadow: 1px 1px 5px #000;
}

#posts div, #columna span {
	padding: 10px;
	background: #d3e2ed;
	margin: 0 10px 10px 0;
	box-shadow: 1px 1px 5px #000;
}

#columna {
	width: 20%;
	float: right;
}

#login, #recientes {
	/*PARA BORRAR*/
	display: block;
	height: 250px;
}

#login div {
	height: 224px;
}

#recientes ul {
	/*Elimina los puntos de una lista desordenada*/
	list-style: none;
}

#recientes li {
	/*PARA BORRAR*/
	height: 56px;	
}

/*=====  End of CONTENIDO  ======*/

/*================================
=            NOSOTROS            =
================================*/

#nosotros {
	border: 1px blue solid;
	height: 200px;
}

/*=====  End of NOSOTROS  ======*/

/*================================
=            GALERÍA            =
================================*/

#galeria {
	border: 1px green solid;
	height: 500px;
}

/*=====  End of GALERÍA  ======*/

/*================================
=            CONTACTO            =
================================*/

#contacto, #contacto * {
	border: 1px pink solid;
	overflow: hidden;
}

#contactanos {
	float: left;
	width: 50%;
}

#mensaje {
	float: right;
	width: 50%;
}
/*PARA BORRAR*/
#contactanos, #mensaje {
	height: 200px;
}

/*=====  End of CONTACTO  ======*/

/*==============================
=            FOOTER            =
==============================*/

#footer {
	background: rgba(68, 119, 153);
	color: white;
	text-align: center;
	/*PARA BORRAR*/
	height: 50px;
}

/*=====  End of FOOTER  ======*/
