/*==============================
=            Global            =
==============================*/

* {
	margin: 0;
	padding: 0;
	/* Para que se incluya el borde y el padding en el tamaño total */
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

body {
	font-size: 1.6rem;
	background-color: #d3e2ed;
}

body>div {
	width: 80%;
	margin: 1rem auto;
}

/*=====  End of Global  ======*/